@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root
{
    --clr-primary-strongCyan-400: hsl(172, 67%, 45%);
    --clr-neutral-VDarkCyan-900: hsl(183,100%,15%);
    --clr-neutral-GrayishCyan-700:  hsl(186, 14%, 43%);
    --clr-neutral-LightGrayishCyan-200: hsl(185, 41%, 84%);
    --clr-neutral-VeryLightGrayishCyan-100: hsl(189,41%,97%);
    --clr-neutal-white-000: hsl(0,0%,100%);
    --clr-buttons-hover--active : hsl(173, 61%, 77%);
    
    --ff-primary: 'Space Mono', monospace;
    --fw-primary: 700;
    --fs-primary: 1rem;
}

html
{
    font-size: var(--fs-primary);
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary);
}

body
{
    background-color: var(--clr-neutral-LightGrayishCyan-200);
}

.first-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 3em; /* 48px */
}

.card
{
    display: grid;
    justify-items: center;
    background-color: var(--clr-neutal-white-000);
    border-radius: 1.8em;
    padding: 2em;
}

.title
{
    text-transform: capitalize;
    color: var(--clr-neutral-GrayishCyan-700);
    font-size: 1rem;
}

.title-box
{
    display: flex;
    justify-content: space-between;
}

.red
{
    color: red;
}

.hidden
{
    display: none;
}
#billAmount, #ppl
{
    cursor: pointer;
    background-color: var(--clr-neutral-VeryLightGrayishCyan-100);
    border-radius: 0.2em;
    width: 100%;
    border: none;
    padding: .2em .7em;
    text-align: right;
    color: var(--clr-neutral-VDarkCyan-900);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#billAmount:focus, #ppl:focus, #customTip:focus
{
    outline: 2px solid var(--clr-primary-strongCyan-400);
}

.icon
{
    position:relative;
    top: 2em;
    left: .7rem;
}

.tipsbox
{
    margin-block: 1.5625rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7em;
    grid-auto-rows: minmax(min-content, max-content)
}

.percent
{
    cursor: pointer;
    font-size: 1.3rem;
    border: none;
    background-color: var(--clr-neutral-VDarkCyan-900);
    color: var(--clr-neutal-white-000);
    border-radius: 0.2em;
    padding-block: 0.3em;
    padding-inline: 2em;
}

.percent:hover
{
    background-color: var(--clr-buttons-hover--active);
    color: var(--clr-neutral-VDarkCyan-900);
}

.clicked
{
    background-color: var(--clr-buttons-hover--active);
    color: var(--clr-neutral-VDarkCyan-900);
}

#customTip
{
    cursor: pointer;
    width: 100%;
    background-color: var(--clr-neutral-VeryLightGrayishCyan-100);
    border: none;
    border-radius: 0.2em;
    font-size: 1.5rem;
    text-align: right;
    padding-inline: .5em;
    color: var(--clr-neutral-VDarkCyan-900);
}

.total
{
    background-color: var(--clr-neutral-VDarkCyan-900);
    padding-inline: 1.5em;
    padding-block: 2em;
    border-radius: .8em;
    width: 105%;    
}

.amount
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.amount-title
{
    color: var(--clr-neutal-white-000);
    font-size: .9rem;
    width: 35%;
}

.amount-title > span
{
    color: var(--clr-neutral-GrayishCyan-700);
}

.amount-value
{
    color: var(--clr-primary-strongCyan-400);
    font-size: 2rem;
}

.reset
{
    cursor: pointer;
    margin-top: .7em;
    border-radius: 0.2em;
    border: none;
    width: 100%;
    background-color: var(--clr-primary-strongCyan-400);
    color: var(--clr-neutral-VDarkCyan-900);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-block: .4rem;
}

.reset:hover
{
    background-color: var(--clr-buttons-hover--active);
}

@media (min-width:720px) 
{
    html 
    {
        font-size: 14px;
    }

    body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .first-section
    {
        margin-bottom: 5em;
    }

    .card
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 'a d' 'b d' 'c d';
        column-gap: 3rem;
        margin-inline: 22.5em;
    }    

    .bill
    {
        grid-area: a;
        width: 90%;
    }

    .tips
    {
        grid-area: b;
        width: 90%;
    }

    .ppl
    {
        grid-area: c;
        width: 90%;
    }

    .total
    {
        grid-area: d;
    }

    .percent
    {
        padding-block: 0.3em;
        padding-inline: 1em;
    }

    #customTip
    {
        font-size: 1.35rem;
    }

    .tipsbox
    {
        grid-template-columns: repeat(3,1fr);
    }

    .total
    {
        display: flex;
        flex-direction: column;
    }

    .amount-title
    {
        font-size: .8rem;
    }

    .amount-value
    {
        font-size: 2.5rem;
    }

    .reset
    {
        margin-top: auto;
    }
}