*
{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

a,button 
{
    all: unset;
}

:root
{
    /*Fonts*/
    --fw-Regular: 400;
    --fw-Bold   : 700;
    /*Colors*/ 
    --clr-primary-Orange: hsl(26,100%,55%);
    --clr-primary-PaleOrange: hsl(25,100%,94%);

    --clr-neutral-VeryDarkBlue: hsl(220,13%,13%);
    --clr-neutral-DarkGrayishBlue: hsl(219,9%,45%);
    --clr-neutral-GrayishBlue: hsl(220,14%,75%);
    --clr-neutral-LightGrayishBlue: hsl(223,64%,98%);
    --clr-neutral-white: hsl(0,0%,100%);
    --clr-neutral-VentaBlack: hsl(0,0%,0%);
    --clr-neutral-DarkBlack: hsl(0,0%,75%);
}

header
{
    padding: 1.5em 1em;
    background-color: #fff;
    margin-bottom: -2.3em;
}

img
{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.button
{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--clr-primary-Orange);
    border-radius: 10px;
    padding-block:1em;
    font-weight: var(--fw-Bold);
    color: var(--clr-neutral-white);
}   

.navbar
{
    display: flex;
    gap: 1.2em;
    align-items: center;
    z-index: 100;
}


.center__nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.avatar
{
    width: 10%; 
}

.menu-icon
{
    flex: 1;
}

.cart-iconbox
{
    display: flex;
    align-items: center;
}

.cart-iconbox > div
{
    color: var(--clr-neutral-white);
    font-weight: var(--fw-Bold);
    background-color: var(--clr-primary-Orange);
    font-size: .65rem;
    padding-inline: .7em;
    border-radius: 10px;
    position: absolute;
    top: 2.3em;
    right: 6em;
}

.logo,.cart-icon
{
    flex: 0;
}

.menu
{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* switch on and off */
    display: none;
}

.menu__items
{
    background-color: var(--clr-neutral-white);
    height: 100%;
    width: 65%;
    padding: 2em 1.5em;
}

.items
{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    position: relative;
    left: -3px;
    color: var(--clr-neutral-VentaBlack);
    font-weight: var(--fw-Bold);
    font-size: 1.5rem;
    gap: .8em;
}

.menu__shadow
{
    background-color: hsla(0, 0%, 0%, 0.712);
    width: 35%;
    height: 100%;
}

.cart-expanded
{
    z-index: 800;
    position: absolute;
    left: 0;
    margin-top: 2em;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cart 
{
    background-color: var(--clr-neutral-white);
    min-height: 60vmin;
    width: 90vw;
    border: none;
    border-radius: 15px;
    /*Display*/
    display: flex;
    flex-direction: column;
}

.cart__title
{
    padding: 1em 2em;
    border-bottom: 1px solid var(--clr-neutral-GrayishBlue);
}

.cart__title h3
{
    margin: 0;
    font-weight: var(--fw-Bold);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.cart__content
{
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__empty
{
    color: var(--clr-neutral-DarkGrayishBlue);
    font-weight: var(--fw-Bold);
    font-size: 1.3rem;
    display: none;
}

.cart__items
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.item__image
{
    flex: 1;
}

.item__image > img
{
    border-radius: 5px;
}

.checkoutBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--clr-primary-Orange);
    border-radius: 10px;
    padding-block:1em;
    margin-inline: 2em;
    margin-bottom: 1.5em;
    font-weight: var(--fw-Bold);
    color: var(--clr-neutral-white);
}

.align_vertical
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0;
}

.product_image
{
    z-index:-5;
    margin-bottom: -55%;
}

.arrows
{
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
}

.arrow 
{
    background: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: .47em .8em;
}

.arrow i{
    width: 100%;
}

.container
{
    margin: 0 1em;
}

.text
{
    margin-top:50%
}

.sub-title
{
    text-transform: uppercase;
    font-weight: var(--fw-Bold);
    color: var(--clr-primary-Orange);
    font-size: .8rem;
    letter-spacing: 2px;
}

.title
{
    color: var(--clr-neutral-VentaBlack);
    font-weight: var(--fw-Bold);
    text-transform: capitalize;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-block: .3em .5em;
}

.paragraph
{
    color: var(--clr-neutral-DarkGrayishBlue);
    margin-bottom: 2em;
}

.pricing
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.pricing__primary
{
    display: flex;
    align-items: center;
    gap: 1em;
}

.actualPrice 
{
    font-weight: var(--fw-Bold);
    font-size: 2rem;
    color: var(--clr-neutral-VentaBlack);
}

.Reduction
{
    font-weight: var(--fw-Bold);
    font-size: 1rem;
    color: var(--clr-primary-Orange);
    padding-inline: .5em;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-primary-PaleOrange);
}

.pricing__secondary > span
{
    color: var(--clr-neutral-GrayishBlue);
    font-size: 1.2rem;
    font-weight: var(--fw-Bold);
    text-decoration: line-through solid hsl(230, 3%, 65%) 1px;
}

.quantity
{
    background-color: var(--clr-neutral-LightGrayishBlue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding:.4em 1.5em;
    font-weight: var(--fw-Bold);
}

.amount
{
    align-self: center;
    font-size: 1.2rem;
}

.changeAmount
{
    font-size: 1.8rem;
    position: relative;
    bottom:.1em;
    color: var(--clr-primary-Orange);
}

main
{
    margin-bottom: 2em;
}



