*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/*--------------------------------------------------------------------*/

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    /*Primary*/

    --clr-primary-Red: hsl(0, 78%, 62%);
    --clr-primary-Cyan: hsl(180, 62%, 55%);
    --clr-primary-Orange: hsl(34, 97%, 64%);
    --clr-primary-Blue: hsl(212, 86%, 64%);

    /*Neutral*/

    --clr-neutral-VeryDarkBlue: hsl(234, 12%, 34%);
    --clr-neutral-GrayishBlue: hsl(229, 6%, 66%);
    --clr-neutral-VeryLightGray: hsl(0, 0%, 98%);

    --fs-primary: 15px;
    --ff-primary: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-base: 400;
    --fw-semibold: 600;

    background-color: var(--clr-neutral-VeryLightGray);
}

header
{
    text-align: center;
}

.subtitle
{
    font-size: 24px;
    font-weight: var(--fw-light);
    font-family: 'Poppins', sans-serif;
}

.title 
{
    font-size: 24px;
    font-weight: var(--fw-semibold);
    font-family: var(--ff-primary); 
    color: var(--clr-neutral-VeryDarkBlue);
    margin-bottom: 20px;
}

.description
{
    font-size: 15px;
    font-weight: var(--fw-base);
    font-family: var(--ff-primary);
    color: var(--clr-neutral-GrayishBlue);
    margin-inline: 40px;
}

main
{
    margin-top: 50px;
}

.card
{
    border-radius: 5px;
    background-color: white;
    margin-inline:35px;
    padding: 25px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 20px;
}

.borderCyan
{
    border-top: 4px solid var(--clr-primary-Cyan);
}

.borderRed
{
    border-top: 4px solid var(--clr-primary-Red);
}

.borderOrange
{
    border-top: 4px solid var(--clr-primary-Orange);
}

.borderBlue
{
    border-top: 4px solid var(--clr-primary-Blue);
}

.cardTitle
{
    font-family: var(--ff-primary);
    font-weight: var(--fw-semibold);
    font-size: calc(var(--fs-primary)*1.5);
    color: var(--clr-neutral-VeryDarkBlue);
}

.cardDesc
{
    font-family: var(--ff-primary);
    font-weight: var(--fw-base);
    color: var(--clr-neutral-GrayishBlue);
    font-size:13px;
    margin-bottom: 30px;
    line-height: 1.8;
}

.cardIcon
{
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (min-width:1024px)
{
    header
    {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .subtitle
    {
        font-size: 35px;
    }
    .title
    {
        font-size: 35px;
    }
    .description
    {
        width: 55%;
    }

    main 
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-inline: 150px;
        grid-template-areas: 'S T C'
        'S K C';
        align-items: center;
        
    }

    .supArea
    {
        grid-area: S;
    }

    .teamArea
    {
        grid-area: T;
    }

    .karmaArea
    {
        grid-area: K;
    }

    .calcArea
    {
        grid-area: C;
    }

    .card
    {
        margin-inline: 15px;
        padding: 30px;
        
    }
    .cardTitle
    {
        margin-bottom: 15px;
    }
}



























